{% extends "app/layout.html" %}

{% block content %}
<br />
<br />
<div class="container">
    <h1>Полезные ссылки</h1>
    <br />
    <p>Ссылка на пример проекта: <a href="http://aplayer.pythonanywhere.com/">http://aplayer.pythonanywhere.com/</a></p>
    <p>Ссылка на курс Веб-программирования: <a href="https://courses.openedu.ru/courses/course-v1:spbstu+WEBPYT+spring_2020/courseware">https://courses.openedu.ru/courses/course-v1:spbstu+WEBPYT+spring_2020/courseware</a></p>

</div>

{% endblock %}