{% extends 'app/layout.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div>
            <h1>1. Векторная алгебра и библиотека Numpy</h1>
            <iframe width="556" height="311" src="https://www.youtube.com/embed/8dQacKEwLCQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div>
            <h1>2. Pandas и Matplotlib</h1>
            <iframe width="556" height="311" src="https://www.youtube.com/embed/-MZgt5pTS4g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    

</div>

{% endblock %}